@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');   

*{
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(40deg,  #526D82  20%, #27374D 50%);
}
.nv{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.562);
    font-size: 20px;
    width: 100%;
}
.btn1{
    width: 100%;
    margin-left: 50%;
}
.container5 .row{
    width: 90%;
    right: 20%;
    margin-top: 3%;
    margin-left: 4%;
    border-radius: 15px;
    background: linear-gradient(40deg,  #FF8400  0%, #FFD93D 50%);
    box-shadow: 5px 10px;
    color:#000000 ;
    text-align: center;
}