@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');   

*{
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(40deg,  #526D82  20%, #27374D 50%);
}
.nv{
    padding:10px;
    background-color: rgba(0, 0, 0, 0.562);
    font-size: 20px;
    position: fixed;
    width: 100%;
}
.btn1{
    width: 100%;
    margin-left: 50%;
}
.container5{
    background-size: cover;
    background-position: center;
    color: aliceblue;
}
.font{
    font-size: 30px;
    color: aliceblue;
}